@font-face {
    font-family: 'Beckett';
    src: url("../assets/fonts/Beckett/Beckett.ttf") format("truetype");
}

@font-face {
    font-family: 'Bank Gothic Regular';
    src: url("../assets/fonts/BankGothic/Bank-Gothic_Light.otf") format("truetype");
}